
.env
.env.local
*.pem
*.key


.DS_Store
.DS_Store?
._*


.idea/
.vscode/
*.iml

deploy_logs_2.txt
/cache/
/data/


postgres_data/
railpack_cache/


node_modules/

# PayRoute specifics
payroute-app/payroute/backend/backend
payroute-app/payroute/frontend/build
payroute-app/payroute/frontend/dist
