{
    admin 0.0.0.0:2019
}

:80 {
    # API routes
    handle /api/* {
        reverse_proxy api:8080
    }
    handle /static/* {
        reverse_proxy host.docker.internal:8082
    }
    handle_path /app/* {
        reverse_proxy host.docker.internal:8082
    }
    handle {
        reverse_proxy frontend:5173
    }
}

## Caddy admin API (internal only)
#:2019 {
#    servers {
#        trusted_proxies static private_ranges
#    }
#}
